:root { 
--blue_gray_900_19:#36363619; 
--gray_900:#242424; 
--black_900_3f:#0000003f; 
--gray_50:#f9f9f9; 
--gray_100:#f5f5f5; 
--black_900_d8:#000000d8; 
--black_900_01:#0a0a0a; 
--black_900_00:#00000000; 
--black_900:#000000; 
--purple_900:#420863; 
--purple_A400:#d100c8; 
--purple_800:#70259b; 
--white_A700:#ffffff; 
--black_900_bf:#000000bf; 
}